<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kursach">

    <application
        android:allowBackup="true"
        android:icon="@drawable/_853038"
        android:label="Путеводитель"
        android:roundIcon="@drawable/_853038"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kursach">
        <activity
            android:name=".Altai"
            android:exported="false" />
        <activity
            android:name=".Kazan"
            android:exported="false" />
        <activity
            android:name=".Karelia"
            android:exported="false" />
        <activity
            android:name=".Yalta"
            android:exported="false" />
        <activity
            android:name=".Gelik"
            android:exported="false" />
        <activity
            android:name=".Anapa"
            android:exported="false" />
        <activity
            android:name=".Sochi"
            android:exported="false" />
        <activity
            android:name=".Piter"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Moscow"
            android:exported="true" />
    </application>

</manifest>